<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>User Information</title>
</head>
<body>
<div layout:fragment="main-content">

    <div class="page-title h3">User profile</div>
    <br>
    <div class="container text-left">
        <form th:action="@{/private-api/userProfile}" th:method="POST" th:object="${profile}">
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" placeholder="Email" th:field="*{email}"/>
                </div>
                <div class="col-sm-3">
                    <small id="passwordHelp" class="text-danger">
                        <span th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</span>
                    </small>
                </div>
            </div>
            <div class="form-group row">
                <label for="firstName" class="col-sm-2 col-form-label">First name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="First Name" th:field="*{firstName}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-2 col-form-label">Last name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Last Name" th:field="*{lastName}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="companyName" class="col-sm-2 col-form-label">Company name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Company Name" th:field="*{companyName}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="avatarUrl" class="col-sm-2 col-form-label">Avatar URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Avatar URL" th:field="*{avatarUrl}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="avatar" class="col-sm-2 col-form-label">Avatar</label>
                <div class="col-sm-3">
                    <img id="avatar" th:src="*{avatarUrl}" width="200px" alt="No avatar">
                </div>
                <div class="col-sm-7"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <input type="submit" class="btn btn-primary" value="Update Profile"/>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#updatePasswordModal">
                        Update password
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!--/* Update password modal */-->
    <div class="modal fade" id="updatePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <label for="password">New Password</label>
                        <input id="password" type="password" placeholder="********"/>
                        <div id="password-error" style="color: red; display: none;" class="error-message">Wrong
                            password
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="updatePassword()">Save new password</button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">

        let csrfToken = [[${_csrf.token}]];
        let csrfHeaderName = [[${_csrf.headerName}]];

        function updatePassword() {
            let password = $('#password').val();
            $.ajax({
                url: '/private-api/userProfile/password',
                type: 'POST',
                headers: {[csrfHeaderName]: csrfToken},
                data: {password: password}
            })
                .done(function () {
                    location.reload();
                })
                .fail(function () {
                    $('#password-error').show();
                });
        }
    </script>
</div>
</body>
</html>